#unwanted OSX/macOS files
.DS_Store
Source/build/resources/main/icon.png
Source/build/resources/main/mcmod.info
Source/build/resources/main/assets/turbosparts/packdefinition.json
Source/build/resources/main/assets/turbosparts/jsondefs/decors/1-decoblocks/marketplace.json
Source/build/resources/main/assets/turbosparts/jsondefs/decors/2-electronics/radio.json
Source/build/resources/main/assets/turbosparts/jsondefs/instruments/instrument_blinker_l.json
Source/build/resources/main/assets/turbosparts/jsondefs/instruments/instrument_blinker_r.json
Source/build/resources/main/assets/turbosparts/jsondefs/items/3-foodtruck/1-paintjobs/ftpntgobblr.json
Source/build/resources/main/assets/turbosparts/jsondefs/items/3-foodtruck/1-paintjobs/ftpntkrunchies.json
Source/build/resources/main/assets/turbosparts/jsondefs/items/3-foodtruck/1-paintjobs/ftpntminers.json
Source/build/resources/main/assets/turbosparts/jsondefs/items/3-foodtruck/1-paintjobs/ftpntsb.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/1-shikatsu/3-accessories/shikatsu_decal_stripe.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/2-chevron/1-reqpart/chevron_wheel.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/2-chevron/3-accessories/chevron_roof.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/3-foodtruck/2-signs/ftsign.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/3-foodtruck/999-general/ft_oven.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/3-foodtruck/999-general/ft_sink.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/4-pattywagon/1-reqpart/pw_picklewheel.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/4-pattywagon/2-foodcrate/pw_foodcrate_black.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/4-pattywagon/2-foodcrate/pw_foodcrate_blue.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/4-pattywagon/2-foodcrate/pw_foodcrate_brown.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/4-pattywagon/2-foodcrate/pw_foodcrate_green.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/4-pattywagon/2-foodcrate/pw_foodcrate_red.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/4-pattywagon/2-foodcrate/pw_foodcrate_yellow.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/4-pattywagon/3-accessories/pw_flag.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/99-generalisedparts/enginev8turbodiesel.json
Source/build/resources/main/assets/turbosparts/jsondefs/parts/99-generalisedparts/spider_wheel_5.json
Source/build/resources/main/assets/turbosparts/models/item/decal_strip.json
Source/build/resources/main/assets/turbosparts/models/item/foodcrate_item.json
Source/build/resources/main/assets/turbosparts/models/item/paint_bucket.json
Source/build/resources/main/assets/turbosparts/models/item/decors/1-decoblocks/marketplace.json
Source/build/resources/main/assets/turbosparts/models/item/decors/2-electronics/radio.json
Source/build/resources/main/assets/turbosparts/models/item/items/3-foodtruck/1-paintjobs/ftpntgobblr.json
Source/build/resources/main/assets/turbosparts/models/item/items/3-foodtruck/1-paintjobs/ftpntkrunchies.json
Source/build/resources/main/assets/turbosparts/models/item/items/3-foodtruck/1-paintjobs/ftpntminers.json
Source/build/resources/main/assets/turbosparts/models/item/items/3-foodtruck/1-paintjobs/ftpntsb.json
Source/build/resources/main/assets/turbosparts/models/item/parts/1-shikatsu/3-accessories/shikatsu_decal_stripe.json
Source/build/resources/main/assets/turbosparts/models/item/parts/4-pattywagon/1-repart/pw_picklewheel.json
Source/build/resources/main/assets/turbosparts/models/item/parts/4-pattywagon/2-foodcrate/pw_foodcrate_black.json
Source/build/resources/main/assets/turbosparts/models/item/parts/4-pattywagon/2-foodcrate/pw_foodcrate_blue.json
Source/build/resources/main/assets/turbosparts/models/item/parts/4-pattywagon/2-foodcrate/pw_foodcrate_brown.json
Source/build/resources/main/assets/turbosparts/models/item/parts/4-pattywagon/2-foodcrate/pw_foodcrate_green.json
Source/build/resources/main/assets/turbosparts/models/item/parts/4-pattywagon/2-foodcrate/pw_foodcrate_red.json
Source/build/resources/main/assets/turbosparts/models/item/parts/4-pattywagon/2-foodcrate/pw_foodcrate_yellow.json
Source/build/resources/main/assets/turbosparts/objmodels/decors/1-decoblocks/marketplace.obj
Source/build/resources/main/assets/turbosparts/objmodels/decors/2-electronics/radio.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/1-shikatsu/3-accessories/shikatsu_decal_stripe.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/2-chevron/1-reqpart/chevron_wheel.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/2-chevron/3-accessories/chevron_roof.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/3-foodtruck/2-signs/ftsign_gobblr.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/3-foodtruck/2-signs/ftsign_krunchies.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/3-foodtruck/2-signs/ftsign_miners.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/3-foodtruck/2-signs/ftsign_sb.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/3-foodtruck/999-general/ft_oven.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/3-foodtruck/999-general/ft_sink.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/4-pattywagon/1-reqpart/pw_picklewheel_flat.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/4-pattywagon/1-reqpart/pw_picklewheel.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/4-pattywagon/2-foodcrate/foodcrate.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/4-pattywagon/3-accessories/pw_flag.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/99-generalisedparts/enginev8turbodiesel.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/99-generalisedparts/spider_wheel_5_flat.obj
Source/build/resources/main/assets/turbosparts/objmodels/parts/99-generalisedparts/spider_wheel_5.obj
Source/build/resources/main/assets/turbosparts/sounds/diesel_v8_force.ogg
Source/build/resources/main/assets/turbosparts/sounds/diesel_v8_high.ogg
Source/build/resources/main/assets/turbosparts/sounds/diesel_v8_idle.ogg
Source/build/resources/main/assets/turbosparts/sounds/diesel_v8_low.ogg
Source/build/resources/main/assets/turbosparts/sounds/turbo_whine.ogg
Source/build/resources/main/assets/turbosparts/textures/instruments.png
Source/build/resources/main/assets/turbosparts/textures/decors/1-decoblocks/marketplace.png
Source/build/resources/main/assets/turbosparts/textures/decors/1-decoblocks/TurboDefender.png
Source/build/resources/main/assets/turbosparts/textures/decors/2-electronics/radio.png
Source/build/resources/main/assets/turbosparts/textures/guis/car_hud_lit.png
Source/build/resources/main/assets/turbosparts/textures/guis/car_hud.png
Source/build/resources/main/assets/turbosparts/textures/guis/car_panel_lit.png
Source/build/resources/main/assets/turbosparts/textures/guis/car_panel.png
Source/build/resources/main/assets/turbosparts/textures/guis/foodtruck_panel_lit.png
Source/build/resources/main/assets/turbosparts/textures/guis/foodtruck_panel.png
Source/build/resources/main/assets/turbosparts/textures/items/decal_strip.png
Source/build/resources/main/assets/turbosparts/textures/items/instruments/instrument_blinker_l.png
Source/build/resources/main/assets/turbosparts/textures/items/instruments/instrument_blinker_r.png
Source/build/resources/main/assets/turbosparts/textures/items/items/3-foodtruck/1-paintjobs/bucket_black.png
Source/build/resources/main/assets/turbosparts/textures/items/items/3-foodtruck/1-paintjobs/bucket_blue.png
Source/build/resources/main/assets/turbosparts/textures/items/items/3-foodtruck/1-paintjobs/bucket_red.png
Source/build/resources/main/assets/turbosparts/textures/items/items/3-foodtruck/1-paintjobs/bucket_yellow.png
Source/build/resources/main/assets/turbosparts/textures/items/items/3-foodtruck/1-paintjobs/ftpntgobblr.png
Source/build/resources/main/assets/turbosparts/textures/items/items/3-foodtruck/1-paintjobs/ftpntkrunchies.png
Source/build/resources/main/assets/turbosparts/textures/items/items/3-foodtruck/1-paintjobs/ftpntminers.png
Source/build/resources/main/assets/turbosparts/textures/items/items/3-foodtruck/1-paintjobs/ftpntsb.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/2-chevron/1-reqpart/chevron_wheel.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/2-chevron/3-accessories/chevron_roof_black.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/2-chevron/3-accessories/chevron_roof_white.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/3-foodtruck/2-signs/ftsign_gobblr.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/3-foodtruck/2-signs/ftsign_krunchies.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/3-foodtruck/2-signs/ftsign_miners.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/3-foodtruck/2-signs/ftsign_sb.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/3-foodtruck/999-general/ft_oven.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/3-foodtruck/999-general/ft_sink.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/4-pattywagon/3-accessories/pw_flag.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/99-generalisedparts/enginev8turbodiesel.png
Source/build/resources/main/assets/turbosparts/textures/items/parts/99-generalisedparts/spider_wheel_5.png
Source/build/resources/main/assets/turbosparts/textures/parts/1-shikatsu/3-accessories/shikatsu_decal_stripe.png
Source/build/resources/main/assets/turbosparts/textures/parts/2-chevron/1-reqpart/chevron_wheel.png
Source/build/resources/main/assets/turbosparts/textures/parts/2-chevron/3-accessories/chevron_roof_black.png
Source/build/resources/main/assets/turbosparts/textures/parts/2-chevron/3-accessories/chevron_roof_white.png
Source/build/resources/main/assets/turbosparts/textures/parts/3-foodtruck/2-signs/ftsign_gobblr.png
Source/build/resources/main/assets/turbosparts/textures/parts/3-foodtruck/2-signs/ftsign_krunchies.png
Source/build/resources/main/assets/turbosparts/textures/parts/3-foodtruck/2-signs/ftsign_miners.png
Source/build/resources/main/assets/turbosparts/textures/parts/3-foodtruck/2-signs/ftsign_sb.png
Source/build/resources/main/assets/turbosparts/textures/parts/3-foodtruck/999-general/ft_oven.png
Source/build/resources/main/assets/turbosparts/textures/parts/3-foodtruck/999-general/ft_sink.png
Source/build/resources/main/assets/turbosparts/textures/parts/4-pattywagon/1-reqpart/pw_picklewheel.png
Source/build/resources/main/assets/turbosparts/textures/parts/4-pattywagon/2-foodcrate/pw_foodcrate_black.png
Source/build/resources/main/assets/turbosparts/textures/parts/4-pattywagon/2-foodcrate/pw_foodcrate_blue.png
Source/build/resources/main/assets/turbosparts/textures/parts/4-pattywagon/2-foodcrate/pw_foodcrate_brown.png
Source/build/resources/main/assets/turbosparts/textures/parts/4-pattywagon/2-foodcrate/pw_foodcrate_green.png
Source/build/resources/main/assets/turbosparts/textures/parts/4-pattywagon/2-foodcrate/pw_foodcrate_red.png
Source/build/resources/main/assets/turbosparts/textures/parts/4-pattywagon/2-foodcrate/pw_foodcrate_yellow.png
Source/build/resources/main/assets/turbosparts/textures/parts/4-pattywagon/3-accessories/pw_flag.png
Source/build/resources/main/assets/turbosparts/textures/parts/99-generalisedparts/enginev8turbodiesel.png
Source/build/resources/main/assets/turbosparts/textures/parts/99-generalisedparts/spider_wheel_5.png
Source/build/resources/main/assets/turbosrandomvehicles/packdefinition.json
Source/build/resources/main/assets/turbosrandomvehicles/jsondefs/vehicles/1-shikatsu/shikatsu.json
Source/build/resources/main/assets/turbosrandomvehicles/jsondefs/vehicles/2-chevron/chevron.json
Source/build/resources/main/assets/turbosrandomvehicles/jsondefs/vehicles/3-foodtruck/foodtruck.json
Source/build/resources/main/assets/turbosrandomvehicles/jsondefs/vehicles/4-pattywagon/patty_wagon.json
Source/build/resources/main/assets/turbosrandomvehicles/jsondefs/vehicles/5-taurus/taurus.json
Source/build/resources/main/assets/turbosrandomvehicles/models/item/vehicles/3-foodtruck/foodtruck_base.json
Source/build/resources/main/assets/turbosrandomvehicles/models/item/vehicles/3-foodtruck/foodtruck_gobblr.json
Source/build/resources/main/assets/turbosrandomvehicles/models/item/vehicles/3-foodtruck/foodtruck_item.json
Source/build/resources/main/assets/turbosrandomvehicles/models/item/vehicles/3-foodtruck/foodtruck_krunchies.json
Source/build/resources/main/assets/turbosrandomvehicles/models/item/vehicles/3-foodtruck/foodtruck_miners.json
Source/build/resources/main/assets/turbosrandomvehicles/models/item/vehicles/3-foodtruck/foodtruck_sour_berry.json
Source/build/resources/main/assets/turbosrandomvehicles/objmodels/vehicles/1-shikatsu/shikatsu.obj
Source/build/resources/main/assets/turbosrandomvehicles/objmodels/vehicles/2-chevron/chevron.obj
Source/build/resources/main/assets/turbosrandomvehicles/objmodels/vehicles/3-foodtruck/foodtruck.obj
Source/build/resources/main/assets/turbosrandomvehicles/objmodels/vehicles/4-pattywagon/patty_wagon.obj
Source/build/resources/main/assets/turbosrandomvehicles/objmodels/vehicles/5-taurus/taurus.obj
Source/build/resources/main/assets/turbosrandomvehicles/objmodels/vehicles/6-lightrunner/lightrunner.obj
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/1-shikatsu/shikatsu_matteblue.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/1-shikatsu/shikatsu_mattegreen.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/1-shikatsu/shikatsu_matteorange.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/1-shikatsu/shikatsu_mattered.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/1-shikatsu/shikatsu_matteyellow.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/2-chevron/chevron_black.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/2-chevron/chevron_blue.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/2-chevron/chevron_gold.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/2-chevron/chevron_gulf.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/2-chevron/chevron_orange.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/2-chevron/chevron_red.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/2-chevron/chevron_trvp_racing.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/2-chevron/chevron_white.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/2-chevron/chevron_yellow.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/items/vehicles/4-pattywagon/patty_wagon.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/1-shikatsu/shikatsu_generic.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/1-shikatsu/shikatsu_matteblue.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/1-shikatsu/shikatsu_mattegreen.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/1-shikatsu/shikatsu_matteorange.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/1-shikatsu/shikatsu_mattered.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/1-shikatsu/shikatsu_matteyellow.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/2-chevron/chevron_alice.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/2-chevron/chevron_black.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/2-chevron/chevron_blue.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/2-chevron/chevron_gold.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/2-chevron/chevron_gulf.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/2-chevron/chevron_orange.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/2-chevron/chevron_red.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/2-chevron/chevron_trvp_racing.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/2-chevron/chevron_white.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/2-chevron/chevron_yellow.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/3-foodtruck/foodtruck_base.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/3-foodtruck/foodtruck_gobblr.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/3-foodtruck/foodtruck_krunchies.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/3-foodtruck/foodtruck_miners.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/3-foodtruck/foodtruck_sour_berry.png
Source/build/resources/main/assets/turbosrandomvehicles/textures/vehicles/4-pattywagon/patty_wagon.png
Source/build/tmp/extractAnnotationsJar/input4427193895048612249.jar
Source/build/tmp/jar/MANIFEST.MF
Source/build/tmp/reobfJar/reobf-default7318080358451430832.srg
Source/build/tmp/reobfJar/reobf-extraLines321607505627513543.srg
Source/build/tmp/sourceJar/MANIFEST.MF
